.navbar {
    border-bottom: 1px solid #cacaca;
    box-shadow: 0px 1px 5px 0px #888888;

    &__logo {
        img {
            max-width: 150px;
            height: auto;
        }

        a {
            display: inline-block;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: 0 !important;
    }

    &__menu,
    &__links {
        display: none;
        flex-wrap: wrap;
        padding-left: 0;
        list-style: none;
        font-size: 14px;

        .nav-link {
            display: block;
            padding: 0.5rem;
            color: $font-color;
            text-decoration: none;

            &:hover,
            &.active {
                color: $primary;
            }
        }
    }

    &__cart {
        @extend %align-center;
        padding: 1rem 0.5rem;
        background-color: $light;
        border: 1px solid transparent;
        color: $font-color;
        width: 100%;
        display: flex;
        justify-content: center;

        svg {
            margin-right: 0.2rem;
            fill: #d00155;
        }
        @include mobile {
            padding: 1.7rem 2rem;
        }
    }

    @include tablet-up {
        &__logo {
            flex: 1 1 auto;
        }

        &__menu {
            display: flex;
            flex: 4 1 auto;
        }

        &__links {
            display: flex;
            margin-right: 0.3rem;
        }
    }
}