<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products - Sabka Bazar Grocery Store</title>
    <meta name="description"
        content="Whether you work from home or office or other workplaces, daily grocery items are a requisite for everybody.">
    <meta name="keywords"
        content="grocery, supermarket, online, price, store, online groceries,online grocery delivery">
</head>

<body>
    {{> ./partials/header }}
    <main id="content">
        <div class="container">
            <div class="alert" role="alert"></div>
            <section id="product-category" class="category">
                <aside class="dropdown">
                    <a href="#" class="category__link dropbtn" aria-expanded="false">
                        Categories <span><svg fill="#ffffff" height="20px" width="20px" version="1.1" id="Layer_1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                viewBox="0 0 330 330" xml:space="preserve" stroke="#ffffff">
                                <g id="SVGRepo_bgCarrier" stroke-width="0" />
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
                                <g id="SVGRepo_iconCarrier">
                                    <path id="XMLID_225_"
                                        d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z" />
                                </g>
                            </svg></span>
                    </a>
                    <ul class="dropdown-content category__dropdown-content" id="product-page-category"></ul>
                </aside>
                <div id="product-list"></div>
            </section>
        </div>
    </main>
    <footer>
        {{> ./partials/footer }}
    </footer>
</body>

</html>